
<%= provide(:title, "#{@post.designer}`s trend") %>
<%= image_tag @post.picture.url if @post.picture? %>
<div id="detail">
<div class="users">
<li><strong>Designer:</strong> <%= @post.designer %> </li>
<li><strong> More about this trend:</strong> <%= @post.about %></li>
<li><strong>Contact details for this Trend:</strong> <%= @post.contact_details %></li>
</div>
</div>
<h3>comments</h3>
<div id="comment">
	<% if @post.comments.exists? %> <co id="ch10_191_1" />
	<%= render @post.comments.select(&:persisted?) %>
	<% else  %>
	There is no comments for this ticket
	<% end -%>                                                                                                                     -
	<%= render 'comments/form' %>
</div>
